//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 10 21:58:25 2016
//! **************************************************************************

SCHEMATIC START;
COMP "ENET_TXD<0>" LOCATE = SITE "AD6" LEVEL 1;
COMP "ENET_TXD<1>" LOCATE = SITE "AF6" LEVEL 1;
COMP "LPCreq9" LOCATE = SITE "AA12" LEVEL 1;
COMP "LPCreq10" LOCATE = SITE "AC12" LEVEL 1;
COMP "IR" LOCATE = SITE "AE23" LEVEL 1;
COMP "LCD_Pico_to_LPC_D_V" LOCATE = SITE "AA14" LEVEL 1;
COMP "clk" LOCATE = SITE "AD14" LEVEL 1;
COMP "LPC_Pico_Data_IN<0>" LOCATE = SITE "AE15" LEVEL 1;
COMP "LPC_Pico_Data_IN<1>" LOCATE = SITE "AC15" LEVEL 1;
COMP "LPC_Pico_Data_IN<2>" LOCATE = SITE "AD15" LEVEL 1;
COMP "LPC_Pico_Data_IN<3>" LOCATE = SITE "AC16" LEVEL 1;
COMP "LPC_Pico_Data_OUT<0>" LOCATE = SITE "AE5" LEVEL 1;
COMP "LPC_Pico_Data_OUT<1>" LOCATE = SITE "AF5" LEVEL 1;
COMP "LPC_Pico_Data_OUT<2>" LOCATE = SITE "V11" LEVEL 1;
COMP "LPC_Pico_Data_OUT<3>" LOCATE = SITE "W11" LEVEL 1;
COMP "LPC_Pico_Data_OUT<4>" LOCATE = SITE "AA11" LEVEL 1;
COMP "LPC_Pico_Data_OUT<5>" LOCATE = SITE "AB11" LEVEL 1;
COMP "LPC_Pico_Data_OUT<6>" LOCATE = SITE "AD12" LEVEL 1;
COMP "LPC_Pico_Data_OUT<7>" LOCATE = SITE "AF12" LEVEL 1;
COMP "oLCD_DAT_OPV<0>" LOCATE = SITE "W18" LEVEL 1;
COMP "oLCD_DAT_OPV<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "oLCD_DAT_OPV<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "oLCD_DAT_OPV<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "reset" LOCATE = SITE "AE24" LEVEL 1;
COMP "uart_rx" LOCATE = SITE "A21" LEVEL 1;
COMP "uart_tx" LOCATE = SITE "A20" LEVEL 1;
COMP "LCD_Pico_to_LPC_Ready_Receive" LOCATE = SITE "W12" LEVEL 1;
COMP "LPC_to_LCD_Pico_Ready_Receive" LOCATE = SITE "Y14" LEVEL 1;
COMP "Ethernet_Lite_RX_ER" LOCATE = SITE "N19" LEVEL 1;
COMP "Ethernet_Lite_RX_DV" LOCATE = SITE "M19" LEVEL 1;
COMP "ENET_RX_ER" LOCATE = SITE "AA13" LEVEL 1;
COMP "ENET_TX_EN" LOCATE = SITE "AD8" LEVEL 1;
COMP "dip_switch<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "dip_switch<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "dip_switch<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "dip_switch<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "dip_switch<4>" LOCATE = SITE "U20" LEVEL 1;
COMP "dip_switch<5>" LOCATE = SITE "U23" LEVEL 1;
COMP "led<0>" LOCATE = SITE "N24" LEVEL 1;
COMP "led<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "Ethernet_Lite_MDIO" LOCATE = SITE "L18" LEVEL 1;
COMP "ENET_MDIO" LOCATE = SITE "V14" LEVEL 1;
COMP "Ethernet_Lite_PHY_RST_N" LOCATE = SITE "T20" LEVEL 1;
COMP "Ethernet_Lite_COL" LOCATE = SITE "T23" LEVEL 1;
COMP "Ethernet_Lite_MDC" LOCATE = SITE "L19" LEVEL 1;
COMP "Ethernet_Lite_CRS" LOCATE = SITE "U22" LEVEL 1;
COMP "ENET_MDC" LOCATE = SITE "U15" LEVEL 1;
PIN ENET_MDC_pin<0> = BEL "ENET_MDC" PINNAME PAD;
PIN "ENET_MDC_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "oLCD_SEL_OPV" LOCATE = SITE "F24" LEVEL 1;
COMP "ENET_CRS" LOCATE = SITE "AF8" LEVEL 1;
COMP "oLCD_EN_OPV" LOCATE = SITE "D21" LEVEL 1;
COMP "LPC_to_LCD_Pico_D_V" LOCATE = SITE "V12" LEVEL 1;
COMP "Ethernet_Lite_RXD<0>" LOCATE = SITE "N22" LEVEL 1;
COMP "Ethernet_Lite_RXD<1>" LOCATE = SITE "N21" LEVEL 1;
COMP "Ethernet_Lite_RXD<2>" LOCATE = SITE "M23" LEVEL 1;
COMP "Ethernet_Lite_RXD<3>" LOCATE = SITE "N20" LEVEL 1;
COMP "Ethernet_Lite_TXD<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "Ethernet_Lite_TXD<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "Ethernet_Lite_TXD<2>" LOCATE = SITE "R20" LEVEL 1;
COMP "Ethernet_Lite_TXD<3>" LOCATE = SITE "T22" LEVEL 1;
COMP "oLCD_RW_OPV" LOCATE = SITE "C21" LEVEL 1;
COMP "Ethernet_Lite_TX_EN" LOCATE = SITE "P20" LEVEL 1;
COMP "ENET_REF_CLK" LOCATE = SITE "AB13" LEVEL 1;
COMP "Ethernet_Lite_RX_CLK" LOCATE = SITE "C15" LEVEL 1;
COMP "FPGA_LPC_EMAC_synch_1" LOCATE = SITE "AC9" LEVEL 1;
COMP "FPGA_LPC_EMAC_synch_2" LOCATE = SITE "AD9" LEVEL 1;
COMP "Ethernet_Lite_TX_CLK" LOCATE = SITE "A15" LEVEL 1;
COMP "ENET_RXD<0>" LOCATE = SITE "AE11" LEVEL 1;
COMP "ENET_RXD<1>" LOCATE = SITE "AF11" LEVEL 1;
SCHEMATIC END;

